<div class='text-center history'>
  <div class='h4'>
    Recently Viewed
  </div> 
  <div class='text-body font-italic'>
<div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Side Details -->
        <div fxLayout="column" fxLayoutAlign="start start">
          <img src="https://vignette.wikia.nocookie.net/spongebob/images/f/f2/Bottle_Burglars_001.png/revision/latest?cb=20180414141732" alt="Image of restaurant">
            <p>Today's Hours: Open, Wednesday: 8:00am - 6:00pm<br /></p>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" >
                  <mat-expansion-panel-header >
                    <mat-panel-title >
                      Weekly Hours
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p >
                    Monday: 8:00am - 6:00pm<br />
                    Tuesday: 8:00am - 6:00pm<br />
                    Wednesday: 8:00am - 6:00pm<br />
                    Thursday: 8:00am - 6:00pm<br />
                    Friday: 8:00am - 6:00pm<br />
                    Saturday: 8:00am - 6:00pm<br />
                    Sunday: Closed
                  </p>
                </mat-expansion-panel>
              </mat-accordion>
              <p>831 Bottomfeeder Lane, Bikini Bottom, Pacific Ocean</p>
                  <button class="btn btn-primary text-white copyAddressButton" (click)="passAddress()" (click)="goToGoogleSite()" value="click to copy" ><p class='copyAddress'>Copy Address and Get Directions</p></button>
        </div>
        <hr class="horizontalLine"/>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">

        <!-- Excerpt -->
        <a href="#!">
          <h6 class="h6 pb-1"><fa-icon [icon]="faStar"></fa-icon>3</h6>
        </a>
        <h4 class="h4 mb-4">{{name}}</h4>
        <p>Website: <a href="https://www.facebook.com/TheKrustyKrabOfficial/" target='_blank'>The Krusty Krab</a><br /></p>
        <p>Today's Hours: Open, Wednesday: 8:00am - 6:00pm<br /></p>
        <p class="font-weight-bold">Reviews:</p>
        <p>
          This place has great parking and plenty of space inside it’s nautically themed interior. Clean, great views of the ocean and family run.<br /><br />

          Food. The menu seems a little limited but, having said that, if you cook something to perfection then you don’t need many other choices. 
          The Krabby patty is a favourite. This with medium coral bits and kelp rings was unforgettable. You could taste the love in the food.<br /><br />

          Service. The order taker and waiter exuded something close to totally apathy. Glad this guy wasn’t cooking as it would have tasted like 
          the crap from that dump across the road.
        <br /></p>
        <p>Rating: 3<br /></p>
        <p class="font-weight-normal">by <a><strong> Sandy Cheeks</strong></a></p>
        <a class="btn btn-primary text-white" href="https://www.quora.com/What-is-your-review-of-The-Krusty-Krab" target='_blank'>Read More Reviews</a>

      </div>
      <!-- Grid column -->

    </div>
  </div>
</div>
