.jumbotron {
    background-color: #eceeef;
    padding: 20px;
    margin: 20px;
}

@media (orientation: landscape) {
    .jumbotron {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}